@charset "UTF-8";

td.content_box {
	background-color: #FFF4B7;
	
}

span.content_text {
	font-size: 20px;
	color: #000B58;
	font-family: NanumGothic;
	font-weight: bold;
}

input.input_box {
	border: 1px solid #000B58;
	width: 250px;
	font-size: 20px;
	font-family: Arial;
	padding: 5px;
}

input.content_btn {
	font-family: NanumGothic;
	border: 2px solid #000B58;
	width: 150px;
	height: 50px;
	background-color: #776B5D;
	font-size: 20px;
	color: #F3EEEA;
	padding: 10px; 
}

input.content_btn:hover {
	border: 2px solid #000B58;
	font-family: NanumGothic;	
	width: 150px;
	height: 50px;
	background-color: #B0A695;
	font-size: 20px;
	color: #FFFFFF;
	padding: 10px;
	cursor: pointer;
}

input.check_btn {
	border: 1px solid #000B58;
	width: 100px;
	height: 35px;
	background-color: #776B5D;
	font-size: 15px;
	color: #FFFFFF;
	padding:5px;
}

input.check_btn:hover {
	border: 1px solid #000B58;
	font-family: NanumGothic;	
	width: 100px;
	height: 35px;
	background-color: #B0A695;
	font-size: 15px;
	color: #FFFFFF;
	padding:5px;
	cursor: pointer;
}