@charset "UTF-8";

tr.header_line {
	background-color: #776B5D;	
}

span.header_menu {
	color: #F3EEEA;
	font-family: Arial;
	font-size: 16px;
	
}

a.header_link:link {
	text-decoration: none;
	color: inherit;
}

a.header_link:hover {
	font-weight: bold;
	/* text-decoration: None; */ 
	/* text-decoration: underline; */
	color:#EBE3D5;
}